@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.comeLavoriamo {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 6.25rem;
    text-transform: uppercase;
    font-weight: 400;
    font-family: inherit;
}
.bgIcon {
    top: 0;
    bottom: 0;
    width: 30em;
    height: 27rem;
    position: absolute;
}
.choose {
    margin: 0;
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 5px;
    z-index: 4;
    font-size: 30px;
    color: #000;
}
.vectorIcon {
    height: 1.25rem;
    width: 1.25rem;
    position: relative;
    min-height: 1.25rem;
}
.dayIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.606rem;
    height: 1.106rem;
}
.dayLabelContainer {
    width: 2.763rem;
    height: 1.106rem;
    position: relative;
}
.day,
.dayLabelContainerWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-11xs-1);
}
.day {
    width: 23rem;
    box-shadow: 0 3px 0 #000;
    border-radius: var(--br-41xl);
    background-color: var(--helping);
    border: 1px solid var(--dark);
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: var(--padding-lgi) var(--padding-6xl);
    margin: 10px;
    z-index: 1;
}
.vectorIcon2,
.warmIcon {
    align-self: stretch;
    width: 1.5rem;
    position: relative;
    max-height: 100%;
    min-height: 1rem;
    z-index: 4;
}
.warmIcon {
    width: 2.606rem;
}
.vectorWrapper,
.warmbt {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 4;
}
.warmbt {
    width: 23rem;
    box-shadow: 0 3px 0 #000;
    border-radius: var(--br-41xl);
    background-color: var(--helping);
    border: 1px solid var(--dark);
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: var(--padding-lgi) var(--padding-6xl);
    margin: 10px;
    z-index: 1;
}
.night,
.vectorWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-7xs-5);
}
.night {
    width: 23rem;
    box-shadow: 0 3px 0 #000;
    border-radius: var(--br-41xl);
    background-color: var(--helping);
    border: 1px solid var(--dark);
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: var(--padding-lgi) var(--padding-6xl);
    margin: 10px;
    z-index: 1;
}
.active {
    border: 2px solid white; /* White stroke for the active mode */
}
.inzia {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    min-width: 2.125rem;
    z-index: 10;
}
.themeSelection,
.themeSelectionInner {
    align-self: stretch;
    display: flex;
    align-items: center;
}
.themeSelectionInner {
    flex-direction: column;
    position: relative;
    padding: 60px;
    z-index: 4;
}
.themeSelection {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
    position: relative;
    z-index: 4;
}
.climaticInner,
.comeLavoriamoParent,
.dayNightSelectorWrapper {
    display: flex;
    align-items: center;
    max-width: 100%;
    z-index: 4;
}
.comeLavoriamoParent {
    width: 41.25rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-2xl);
    display: flex;
    z-index: 4;
    align-items: center;
}
.climaticInner {
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-81xl);
    color: var(--helping);
    font-family: var(--font-anton);
}
@media screen and (max-width: 450px) {
    .bgIcon {
        width: 24rem;
        height: 24rem;
    }
    .day {
        width: 18rem;
    }
    .night {
        width: 18rem;
    }
    .warmbt {
        width: 18rem;
    }
    .themeSelection {
        padding-bottom: 0px;
    }
    .comeLavoriamo {
        font-size: 50px;
    }
}
